body{
	margin: 0;
	padding: 0;
}
#tudo{
	background: url("../img/bg_cadastro.png") center center no-repeat;
	background-size: cover;
	width: 100%;
	position: absolute;
	min-height: 100%;
}
#preto{
	background: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .40;
}
#bloco_meio{
	height: 20%;
	float: left;
	display: none;
	opacity: 0;
	width: 100%;
}
#titulo_cetnro{
	color: #fff;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	text-shadow: 0 0  15px #717171;
}
.cor_titulo{
	text-shadow: 0 0 8px #717171;
	color: #fff;
	margin-top: -1.5%;
	font-weight: bolder;
	text-align: center;
	font-size: 40px;
}
.cor_subtitul{
	color: #fff;
	margin-top: -1%;
	font-size: 20px;
	text-shadow: 0 0 8px #717171;
	text-align: center;
}
#botoes:hover{
	opacity:.80;
	cursor: pointer;
}

@media screen and (min-width: 1200px) {

	#bloco_meio{
		margin-top: 20%;
	}
}
@media screen and (min-width: 992px) and (max-width:1199px) {
	#bloco_meio{
		margin-top: 30%;
	}
}
@media screen and (min-width: 768px) and (max-width:992px) {
	#bloco_meio{
		margin-top: 40%;
	}
}
@media screen and (min-width: 0px) and (max-width:767px) {
	#bloco_meio{
		margin-top: 50%;
	}
}

@media screen and (min-width: 0px) and (max-width:768px) {
#titulo_cetnro{
	font-size: 30px;
	}
	.cor_titulo{
	font-size: 30px;
	}

#botoes{
	width: 150px;
	}
}
