body{
    padding: 0;
    margin: 0;
}
#formulario_cliente{
    background: #fff;
    width: 40%;
    margin:0 auto;
    margin-top: 20%;
    display: table;
    padding: 3%;
    border-radius: 5px;
}
@media screen and (min-width: 1200px) and (max-width: 3000px) {
    #formulario_cliente{
        width: 40%;
        margin-top:15%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    #formulario_cliente{
        width: 50%;
        margin-top:15%;
    }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
    #formulario_cliente{
        width: 65%;
        margin-top:20%;
    }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
    #formulario_cliente{
        width: 100%;
        margin-top:25%;
    }
}