body{
}
#tudo{
    background: url('../img/bg_pagar.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: absolute;

}
#bloco_branco{
    box-shadow: 0 0 4px #696969;
    border-radius: 10px;
    margin-top: 18%;
    height: 40%;
    margin-left: 15%;
    padding-bottom: 2%;
    width: 550px;
    display: table;
    background: #fff;
}
#pag_logo{
    margin-top: 5%;
    float: left;
    left: -100px;
    position: relative;
    margin-bottom: 5%;
    margin-left: 50%;
    width: 200px;
}
.texto_pag{
    font-weight: bolder;
    margin-top: -15px;
    width: 100%;
    text-align: center;
    color: #f7921c;
    font-size: 20px;
}
.blocos_pre{
    width: 20%;
    display: table;
    float: left;
    margin-left:3%;
}
#pagamentos{
    float: left;
    width: 90%;
    margin-left: 50%;
    position: relative;
    left: -39%;
}


@media screen and (max-width: 768px) and (min-width: 0px){

    #bloco_branco{
        box-shadow: 0 0 4px #696969;
        border-radius: 10px;
        margin-top: 25%;
        height: 40%;
        margin-left: 1%;
        width: 100%;
        margin-bottom: 50px;
        display: table;
    }
    .texto_pag{
        margin-top: 0;
        font-size: 25px;
        width: 80%;
        padding-bottom: 1%;
        margin: 0 auto;
    }

    .blocos_pre{
        width: 85%;
        display: table;
        float: left;
        margin: 0 auto;
    }
}