body{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	font-family: open sans;
	color:#fff;
}
#tudo{
	z-index: -2;
	width: 100%;
	min-height:100%;
	background: url("../img/background.png") center center no-repeat;
	background-size: cover;
}
#banner{
	z-index: -1;
	position: absolute;
 	height:75%;
 	width:100%; 
 	margin: 0;
	background: url("../img/mecanico.png") center center no-repeat;
	background-size: cover;
	display: table;
}
#formulario_pesquisa{
	margin-top:1%;
}
#caixa_pesquisa{
	display: table;
	margin-top: 28%;
	left: -34%;
	margin-left: 20%;
	width: 60%;
	height: 8%;
	background: #fff;
	border-radius: 6px;
	padding:  0.5%;
}
@media (max-width: 1050px)and (min-width:700px) {
	
}
.pesquisar_cidade_prof_direita{
	background: none;
	height:100%;
	width: 40%;
	border:none;
	color: #000;
	margin-left: 1%;
	font-weight: bold;
}
.pesquisar_cidade_prof{
	background: none;
	font-weight: bold;
	border: 1px solid #000;
	height:100%;
	width: 40%;
	border:none;
	color: #000;
	margin-left: 33%;
}
.pesquisar_p_c{
	background: none;
	height:100%;
	width: 40%;
	border:none;
	color: #000;
	float: left;
	margin-top: 2%;
	margin-left: 1%;
}
.pesquisar_p_c_e{	
	margin-top: -4%;
	margin-right: 1%;	
	float: right;
	width: 17%;	
	padding:1.5% 0;
	border: 1px solid #f7921c;
	background: #f7921c;
}
.pesquisar_p_c_e:hover{
	opacity:.60;
	cursor: pointer;
	box-shadow: 0 0 2px #000;
}
#pesquisa_icone{
	margin-left: 1%;
	float: left;
}
#banner_mao{
	display: table;
	width: 100%;
	height: 50%;
	background: url("../img/banner_mao.png") center center no-repeat;
	background: cover; 
	position: absolute;
	margin-top: 39%;
}
/*
#como_funciona{
	font-weight: bold;
}
#corpo_meio{
	width: 80%;
	margin: 0 auto;
	height: 50%;
	background: #7da957;
}*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
