#borda{border:1px solid #fff;}
body{
	background: url("../img/background.png")center center no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}
#caixa{
	z-index: 105;
	margin-top: 0;
}
#topo{
	z-index: 110;
	width: 100%;
	height: 10%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	position: fixed;
	}
#topo_tamanho{
	border-radius: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}
#topo_cor{
	background: url("../img/bg_topo.png");
	width: 100%;
}


#topo_cima_col{
	width: 100%;
}

#topo_bk_none{
	width: 100%;
	border-radius: 0;
	background: none;
	border:none;
}
#topo_cima{
	margin-right: 3%;
	text-align: right;
	float: right;
}


@media screen and (min-width: 768px) and (max-width:850px) {
	.icone_rede{
		 display: none;
	 }
	#icone_rede_menu{
		font-size: 12px;
	}
}

#esse{
	 display: iinline;
	 width: 15.5%;
	 float:left;
	 margin-top: 3%;
 }
.icones_redes{
	height:100%;
	margin-top: 1.3%;
	opacity: .60;
}
.icones_redes:hover{
	opacity: 1;
	cursor: pointer;
}
.dropdown{
}
#opcoes_dp{
	background:#000;
	color:#fff;
}
.dropdown:hover{
	border-bottom:2px solid #f7921c;
}
#topo_baixo{
	margin-left: 3%;
	text-align: left;
	float: left;
}

@media screen and (min-width: 0px) and (max-width:768px) {
	#logotipo {
		margin-top: -2%;
	}

	.icones_redes{
		display: none;
	}
}

@media screen and (min-width:768px) {
	#logotipo {
		width: 80%;
	}
}
#topo_baixo_e{
	margin-left: 9%;
	text-align: left;
	float: left;
}
@media screen and (min-width: 992px) and (max-width:1199px) {
	#pesquisar{
		width: 100%;
		padding: 10% 0;
	}
}
@media screen and (min-width: 768px) and (max-width:1000px) {
	#topo_baixo_e{
		margin-left: 9%;
	}
	#aspas{display:none;}
	#aspas2{display:none;}
	#aspas3{display:none;}
}
@media screen and (min-width: 1000px) and (max-width:1200px) {
	#topo_baixo_e{
		margin-left: 15%;
	}

	#aspas{display:none;}
	#aspas2{display:none;}
	#aspas3{display:none;}
}
#topo_baixo_e{
	margin-top: -4px;
}
@media screen and (min-width: 1200px) and (max-width:1500px) {
	#topo_baixo_e{
		margin-left: 20%;
	}
	#aspas{display:none;}
	#aspas2{display:none;}
	#aspas3{display:none;}
}
@media screen and (max-width: 377px){
	#logotipo {
		margin-top: -1%;
		width: 30%;
		position: absolute;
	}
	#aspas{display:none;}
	#aspas2{display:none;}
	#aspas3{display:none;}
	}
@media screen and (min-width: 1500px){
	#topo_baixo_e{
		margin-left: 27%;
		#aspas{display:block;}
		#aspas2{display:block;}
		#aspas3{display:block;}
	}
}


#topo_baixo_tudo{
	display: table;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 768px) {
	#cf_tudo_img_m{
		display:none;
	}
}
@media screen and (max-width: 768px) {
	#cf_tudo_img{
		display:none;
	}
	#cf_tudo_img_m{
		display:block;
	}
	.container-fluid{
		text-align: center;
	}
	#topo_bk_none{
		background: #000;
	}
	.icone_rede {
		display:none;
	}
	#icone_rede_menu{
		text-align: center;
		float: left;
		margin-left: 0;
		width: 100%;
	}
	#icone_rede_menu:hover{
		color:#f7921c;
		text-align: center;
		margin: 0 auto;
	}
	.icones_redes{
		text-align: center;
		margin: 0 auto;
		display: none;
	}
	#topo_cima{
		float: left;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.dividir_topo{
		border-bottom: 1px solid #303841;
	}
}


@media screen and (min-width: 2500px){#myCarousel{height: 950px;}body{font-size: 20px;}}
@media screen and (min-width: 992px) and (max-width:1199px) {#myCarousel{height: 600px;}}
@media screen and (min-width: 768px) and (max-width:991px) {#myCarousel{height: 500px;}}
@media screen and (min-width: 380px) and (max-width:768px) {#myCarousel{height: 600px;}}
@media screen and (min-width: 0px) and (max-width:379px) {#myCarousel{height: 450px;}}
@media screen and (min-width:1200px) and (max-width:2500px) {#myCarousel{height: 650px;}}
/*------------------ fim do topo --------------------*/
#cadastrar{
	background: #f7921c;
	border: 1px solid #f7921c;
}
#cadastrar:hover{
	opacity:.60;
	cursor: pointer;
}
#primeiro_slide{
	float: left;
	margin: 0;
	text-align: left;
}
#bloco_fixo{
	background: #fff;
	width: 410px;
	padding: 1%;
	position: fixed;
	margin-top: -15%;
	display: table;
	z-index: 110;
	border-radius: 10px;
}




@media screen and (max-width: 500px) and (min-width: 0px){

	#fechar_bloco{
		padding: 2%;
	}
	#bloco_fixo{
		width: 260px;
		margin-top: -30%;

	}
}
@media screen and (max-width: 649px) and (min-width: 500px){
	#bloco_fixo{
		width: 300px;
		margin-top: -60%;
	}
	#fechar_bloco{
		padding: 2%;
	}
}
@media screen and (max-width: 768px) and (min-width: 650px){

	#bloco_fixo{
		width: 300px;
		margin-top: -50%;
	}
}
#fechar_bloco{
	float: right;
	color: #000;
	text-shadow: none;
}
#fechar_bloco:hover{
	color: #f7921c;
	cursor: pointer;
}
#titulo_slide{
	text-shadow: none;
	color: #f7921c;
	font-weight: bolder;
	width: 100%;
	text-align: center;
	font-size: 25px;
}
.sub_t_slide{
	font-size: 10px;
	text-shadow: none;
	color: #f7921c;
	text-align: center;
	font-weight: bolder;
}
#formulario_pesquisa{
	margin-top:1%;
}
#caixa_pesquisa{
	margin-bottom: 50px;
	margin-top: 1%;
	width: 100%;
	padding: 1% 2% 0 2%;
	display: table;
	background: #fff;
	border-radius: 6px;
}
.pesquisar_cidade_prof_direita{
	text-align: left;
	color:#000;
	text-shadow: none;
	background: none;
	height:100%;
	width: 40%;
	border:none;
	font-weight: bold;
	float: left;
}
.pesquisar_cidade_prof{
	text-shadow: none;
	text-align: left;
	background: none;
	height:100%;
	width: 40%;
	border:none;
	color: #000;
	font-weight: bolder;
	float: left;
	float: left;
}
.pesquisar_p_c{
	background: none;
	height:100%;
	width: 100%;
	border:none;
	color: #000;
	float: left;
	margin-top: 2%;
}
.pesquisar_p_c_e{
	margin-top: -4%;
	margin-right: 1%;
	float: right;
	width: 17%;
	padding:1.5% 0;
	border: 1px solid #f7921c;
	background: #f7921c;
}
.pesquisar_p_c_e:hover{
	opacity:.60;
	cursor: pointer;
	box-shadow: 0 0 2px #000;
}
#pesquisa_icone{
	margin-left: 1%;
	float: left;
}
#pesquisar{
	border: 1px solid #f7921c;
	background: #f7921c;
	display:table;
	font-size: 12px;
}
@media screen and (min-width:768px) {
    #pesquisar{
        width: 17%;
    }

}
@media screen and (min-width:991px) {
	#pesquisar{
		width: 100%;
		padding: 10% 0;
	}
	#alinhar_form_pequeno{
		padding: 0% 0;
	}
	.pesquisar_cidade_prof_direita{
	}
	.pesquisar_cidade_prof{
	}
	.pesquisar_p_c{
	}
}
@media screen and (min-width: 0px) and (max-width:991px) {
    #pesquisar{
        width: 100%;
    }
	#caixa_pesquisa{background: none;margin-bottom: 5px;}
	#alinhar_form_pequeno{
		text-align: center;
	}
	.pesquisar_cidade_prof_direita{
		width: 100%;
		text-align: center;
	}
	#alinhar_form_pequeno{
		background: #fff;
		border-radius: 10px;
	}
	#alinhar_form_pequeno1{
		background: #fff;
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 10px;
	}
	.pesquisar_cidade_prof{

		width: 100%;
		text-align: center;
	}
	.pesquisar_p_c{
		width: 100%;
		text-align: center;
		margin-bottom: 3px;
	}
}
@media screen and (min-width: 0px) and (max-width:768px) {
	#caixa_pesquisa{
		margin-bottom: 17%;
	}
}

/* slide show */


.carousel slide{
	margin: 0;
	padding: 0;
}
#myCarousel{
	margin: 0;
	padding: 0;
}



/* Banner*/

#botao_apple{
	position: absolute;
	z-index: 2;
	text-align: center;
	margin-top: 12%;
	margin-left: 35%;
	float:left;
}
#botao_apple:hover{
	opacity: .60;
	cursor: pointer;
}
#botao_google{
	position: absolute;
	z-index: 2;
	text-align: center;
	margin-top: 12%;
	margin-left: 48%;
	float:left;
}
#botao_google:hover{
	opacity: .60;
	cursor: pointer;
}
#banner_mao{
	display: table;
	width: 100%;
	height: 50%;
}
#banner_mao_imagem_esconde{
	margin: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	display: none;
}
#banner_mao_imagem{
	margin: 0;
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: -7%;
}



@media screen and (max-width: 600px) and (min-width: 0){
	#celular{
		display: none;
	}
}


@media screen and (min-width: 0px) and (max-width:768px) {
	#ultimo_rodape{
		background: #000;
		height: 20%;
	}

	#banner_mao_imagem{
		display: none;
	}
	#banner_mao_imagem_esconde{
		display: table;
		height: 200px;
	}
	#botao_apple2 {
		margin-bottom: 2%;
		height: 18%;
		margin-top: 0.5%;
	}
	#botao_apple{
		display: none;

	}
	#topo{
		position: absolute;
	}
	#botao_google2{
		height: 18%;
	}
	#botao_google{
		display: none;

	}
	#botao_apple2:hover{
		opacity: .60;
		cursor: pointer;
	}
	#botao_google2:hover{
		opacity: .60;
		cursor: pointer;
	}
	#img-responsive {
		display: table;
	}
	#img-responsive_1{
		display: none;
		height: 100%;
	}
}

#img-responsive_1{
	height: 100%;
}
@media screen and (min-width: 769px){
	#img-responsive{

		display: none;
	}
}
#img-responsive{
	height: 100%;
}
#img-redesponsive_1{
	display: block;
	height: 100%;
}


/* Como funciona ->cf */


#cf{
	padding-bottom: 3%;
}
.texto_cf{
	text-align: center;
	font-size: 16px;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 2%;
}
#titulo_cf{
	padding-top: 3%;
	text-align: center;
	font-weight: bold;
	font-size: 45px;
	font-variant: all-small-caps;
}
#cf_tudo{
	widht:100%;
	height: 100%;
}
#cf_tudo_img{
	margin-left: 10% ;
	margin-top: 5% ;
}
#cf_tudo_img_m{
	margin-top: 5% ;
}

#cadastrar_app{
	width: 50%;
	margin: 0 auto;
	background: #f7921c;
	display: table;
	border: 1px solid #f7921c;
}
#cadastrar_app:hover{
	opacity: .80;
	cursor: pointer;
}
.cf_icones{
	margin: 2% 0;
}


@media screen and (max-width: 500px)
{

	#cadastrar_app{
		width: 100%;
		margin: 0 auto;
		margin-left: 2%;
		background: #f7921c;
		display: table;
		border: 1px solid #f7921c;
	}
	.texto_cf{
		text-align: center;
		font-size: 20px;
		width: 75%;
		margin: 0 auto;
		text-align: justify;
		margin-bottom: 5%;
		margin-top: 2%;
	}
}


/* Final texto como funciona */








#aspas{
	font-family: SFSquare Head;
	font-size: 300px;
	position: absolute;
	float: left;
	margin-left: 10%;
	margin-top: -25%;
	color:#f7921c
}
#aspas2{
	font-family: Big Noodle Titling;
	font-size: 300px;
	position: absolute;
	float: left;
	margin-left: 10%;
	margin-top: -25%;
	color:#f7921c;
}
#aspas3{
	font-family: Big Noodle Titling;
	font-size: 300px;
	position: absolute;
	float: left;
	margin-left: 10%;
	margin-top: -25%;
	color:#f7921c;
}

/*Rodapé*/

#rodape{
	padding: 2% 0 1% 0;
	background: #303841;
	width: 100%;
	height:10%;
	clear: both;
	margin-bottom: 0;
	color: #ccc;
}
.rodape_info{
	list-style: none;
}
.titulo_rodape{
	padding:0 0 1% 0;
	color: #fff;
	font-weight: bolder;
}
#depo{

	padding: 1% 0;
	text-align: center;
}
#rodape_baixo{
	background: #3a4750;
	padding: 2% 0 1% 0;
	width: 100%;
	height:10%;
	clear: both;
	margin-bottom: 0;
}
#ultimo_rodape{
	margin-top: 0;
	margin-bottom: 0;

}
@media screen and (min-width:768px) {
	#imagem_u_r_pequeno{
		display: none;
	}
}
@media screen and (min-width: 0px) and (max-width:768px) {

#imagem_u_r{
		display:none;

	}
	#imagem_u_r_pequeno{
		display: block;
	}
}



/*   21 /09 /2017*/

@media screen and (min-width: 1024px){
	#seguro_parte_baixo{
	width: 1024px; margin: 0 auto;
	}
}
.titulo_prof{font-size: 20px;}
.sub_titulo_prof{font-size: 12px;}

@media screen and (max-width: 992px){
	#bloco_fixo{margin-top: -50px;}
}

@media screen and (max-width: 768px){
	.pesquisar_p_c{border:1px solid #f7921c;border-radius: 10px;}
}

