@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);
body{
    margin: 0;
    padding: 0;

}
#tudo{
    width: 100%;
    min-height: 100%;
    background:url("../img/bg_cadastro.png") center center no-repeat;
    background-size: cover;
    position: absolute;
    display: table;
}
#preto{
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .60;
}
#logo{
    width: 30%;
    margin-left: 35%;
    background-size: 90%;
    padding-bottom: 10%;
}
textarea:focus, input:focus, select:focus {
     box-shadow: none;
     border: 0 none;
     outline: 0;
 }



#formulario{
    border-radius: 10px;
    background: #fff;
    padding: 2% 2% 2% 2%;
    position: absolute;
    height: 30%;
    float: left;
    margin: 0 auto;
    top: 50%;
    margin-top: -13%;
    margin-left: 50%;

    opacity: 0;
    display: none;

    width: 30%;
    left:-15%;

}
@media screen and (min-width: 0px) and (max-width: 768px){
    #formulario{
        border-radius: 10px;
        padding: 2% 2% 2% 2%;
        height: 300%;
        float: left;
        margin: 0 auto;
        background: none;
        top: 50%;
        margin-top: -45%;
        margin-left: 50%;
        display: table;
        width: 100%;
        left:-15%;
    }
    #logo{
        width: 40%;
        margin-left: 30%;
        background-size: 90%;
        padding-bottom: 10%;
    }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    #formulario{
        border-radius: 10px;
        padding: 2% 2% 2% 2%;
        height: 300%;
        float: left;
        margin: 0 auto;
        background: none;
        top: 50%;
        margin-top: -25%;
        margin-left: 50%;
        display: table;
        width: 100%;
        left:-15%;
    }
    #logo{
        width: 40%;
        margin-left: 30%;
        background-size: 90%;
        padding-bottom: 10%;
    }
}
@media screen and (min-width: 800px) and (max-width: 991px){

    #formulario{
        border-radius: 10px;
        background: #fff;
        padding: 2% 2% 2% 2%;
        height: 30%;
        float: left;
        margin: 0 auto;
        top: 50%;
        margin-top: -20%;
        margin-left: 50%;
        display: table;
        width: 60%;
        left:-15%;
    }

    #logo{
        width: 40%;
        margin-left: 35%;
        background-size: 90%;
        padding-bottom: 10%;
    }
}
#icone_login{
    float: left;
    left: 0;
    width: 10%;
    position: absolute;
    padding: 8% 0;
    height: 10%;
    background:#000;
}
.login_senha{
    float: left;
    width: 100%;
    padding: 3%;
    border-radius: 3%;
    border: none;
    background: #efefef;
}
#senha_esp{
    margin-top: 4%;
}
#logar{
    padding: 2%;
    width: 100%;
    text-align: center;
    margin-top: 4%;
    font-weight: bolder;

}

.btn:hover{
    opacity: .80;
}

@media (max-width: 700px)and (min-width:500px) {
    #formulario{
        width: 60%;
        margin-left: 50%;
        left:-30%;
    }
}
@media screen and (min-width: 800px) and (max-width:1225px){
    #formulario{
        width: 30%;
        margin-left: 50%;
        left:-15%;
        -moz-box-shadow: 10px 2px 40px rgba(0, 0, 0,0.5);
        -webkit-box-shadow: 10px 2px 40px rgba(0, 0, 0, .5);
        box-shadow: 10px 2px 40px rgba(0, 0, 0, .5);
    }
}
@media screen and (min-width: 700px) and (max-width:800px){
    #formulario{
        width: 60%;
        margin-left: 50%;
        left:-30%;
    }
}
@media (max-width: 500px) and (min-width:200px) {
    #formulario{
        width: 60%;
        margin-left: 50%;
        left:-30%;
    }
}

.titulo_entrar{
    color:#00AEF2;
    font-size: 18px;
}
.alinhar_ao_centro{
    text-align: center;
    color:#ccc;
    font-size: 16px;
}
.alinhar_ao_centro2{
    text-align: center;
    color: #9d9d9d;
    font-size: 16px;
}
.alinhar_ao_centro2:hover{
    cursor: pointer;
    color: #f7921c;
}

#redes{
    color: #ccc;
    margin-right: 1%;
}

#redes:hover{
    color: #00AEF2;
}
#redes2{
    margin-right: 1%;
    color: #ccc;
}

#redes2:hover{
    color: #f7921c;;
}