body{
    margin: 0;
    padding: 0;

}
#tudo{
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    background: #fff;

}
#banner_usuarios{
    background: url('../img/bg_usuario.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 400px;
    position: absolute;
}
#bloco_todos_usuarios{
    margin-top: 450px;
    width: 90%;
    padding: 0;
    margin-left: 7%;
}
.img_usuario{
    width: 100%;
}
#usuarios{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    margin-left: 2%;
    box-shadow: 0 0 2px #ccc;
}
@media screen and (max-width: 768px) and (min-width: 0px){

    #bloco_todos_usuarios{
        margin-top: 350px;
    }
    #banner_usuarios{
        min-height: 300px;
    }

    #usuarios{
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){

    #bloco_todos_usuarios{
        margin-top: 450px;
        width: 90%;
        padding: 0;
        margin-left: 13%;
    }

}