.btn {
	color: white;
	text-shadow: 1px 1px 1px black;
}

/*CSS para o dropdown-menu de nível 3 ou mais.*/
.marginBottom-0 {margin-bottom:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 20px;
  background-color: #E37A27 !important;
  height: 60px;
}
html {
  min-height: 100%;
  
}

table {
  background-color: white;
}

body {
  margin: 0 0 60px; /* altura do seu footer */
  background-color: #F1F4F9 !important;
}

.principal {
  margin-top: 60px !important;
}

#load_geral img {
  width: 50px;
  position: absolute;
  margin-top: 15%;
}

.menu_superior > li > a{
  color: white !important;
}

.dropdown-menu > li > a {
  color: black !important;
}

/*Correção DataPicker*/
.ui-datepicker-header {
   background: red !important;
   color: #EEE;
 }

 #ui-datepicker-div{
  z-index: 100 !important;
  position: absolute;
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
