html {
  position: relative;
  min-height: 100%;
}

a {
	color: white;
	padding-top: 10px;
}

.img_logo {
	
}

.rodape{
  width: 100%;
	color: #FFFFFF;
	font: 12px Arial;
  position: absolute;
	margin-bottom: 15px;
	bottom: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  outline: none;
}

.container{
  position: absolute;
  width: 95%;
  top: 22%;
  bottom: 50%;
  margin: 0px;
  padding: 0px;
}

body {
	
}

.titulo{
	font-size: 70px;
	color: #F1E4E9;
	text-shadow: 2px 2px 2px black;
  margin-top: -60px;
}

.login-main {
  width: 300px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: #BFEFFF;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.login-main p {
  text-indent: 10px;
}
.box1 {
  background: #fffFFF;
  height: 40px;
  text-indent: 10px;
  width: 90%;
  margin-bottom: 2px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}
.form-group {
	margin: 0px;
}

#usuario {
	width: 300px;
  margin-bottom: 0px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#senha {
	width: 300px;
  margin-top: 0px;
  -webkit-border-radius: 0px 0 5px 5px;
  -moz-border-radius: 0px 0 5px 5px;
  -ms-border-radius: 0px 0 5px 5px;
  -o-border-radius: 0px 0 5px 5px;
  border-radius: 0px 0 5px 5px;
}

.central{
	margin-top: 22px;
}

.send {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #BFEFFF;
  background: #9AC0CD;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}